body {
  font-family: merriweather, georgia, serif;
  line-height: 1.8;
  background: #11111a;
  margin: 0;
  padding: 0; }

nav {
  width: 100%;
  background: rgba(255,255,255,0.90);
  padding: 1rem 0;
  text-align: center;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
 }

  @media screen and (max-width: 42em) {

    nav section#nav-container {
      width: 60rem;
    }

    nav section#nav-container.casestudy {
      width: 100%;
    }

  }

  nav a {
    font-size: 10px;
    font-family: helvetica;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #aaa;
    text-decoration: none;
    margin-right: 20px; }

    nav a:last-child {
      margin-right: 0; }

    nav a:hover {
      color: #666;
      font-weight: 700;
    }


section.content {
  }

article.text {
  margin: 0 auto;
  margin-bottom: 8rem;
  padding: 4rem 1rem 0 1rem;
  width: 48rem;
  max-width: 90%;
  color: #aaa;
  font-size: 20px;
  font-weight: 400;}

  @media screen and (max-width: 42em) {
    article.text {
      font-size: 16px;
      padding: 1rem 0;
    }
  }

  @media screen and (min-width: 100em) {
    article.text {
      font-size: 24px;
      width: 64rem;
    }
  }

  article.text a {
    color: #000;
  }

  article.text hgroup {
    text-align: center;
    margin-bottom: 3rem; }

  article.text h1 {
    margin-bottom: 0;
    color: #fafafa;
    font-size: 48px;
    line-height: 4rem;
  }

  article.text h2 {
    font-style: italic;
    font-weight: 100;
    color: #eee;
    margin: 1rem auto;
    font-size: 24px; }

  article.text h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 0;
    margin: 1rem auto;
    font-family: helvetica, arial, sans-serif;
    font-weight: 100;
    font-size: 14px; }

  article.text h4 {
    font-weight: 700;
    color: #333;
    font-size: 26px;
    margin-bottom: 0; }

  article.text h5 {
    letter-spacing: 0.1rem;
    font-size: 12px;
    font-family: helvetica, arial, sans-serif; }

  article.text span.highlight {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 3px;
    background: #FDECA4; }

  #subnav {
    font-size: 18px;
    color: #ccc; }

    #subnav a {
      color: #aaa; }

  article.text div.article-img-large img {
    max-width: 100%;
    border-radius: 10px; }

  article.text div.article-img-large {
    margin: 0 -25%;
    padding: 1.6rem 0;
    text-align: center;  }

    @media screen and (max-width: 42em) {

      article.text div.article-img-large {
        margin-left: -6%;
        margin-right: -6%;
        padding: 1.6rem 0; }

      article.text div.article-img-large img {
        border-radius: initial !important; }

    }

  article.text div.article-img-large.long {
    margin: 0 -10%; }

    @media screen and (max-width: 42em) {

      article.text div.article-img-large.long {
        margin: 0 -6%; }

    }

  article.text div.article-img-large.series img {
    border-radius: initial;
    padding-bottom: 0;
    margin-bottom: -8px; }

  article.text div.article-img-large.series > :first-child {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important; }

  article.text div.article-img-large.series > :last-child {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important; }

    @media screen and (max-width: 42em) {

      article.text div.article-img-large.series {
        margin: 0 -6%;
        padding: 0;
      }

      article.text div.article-img-large.series > :first-child {
        border-radius: 0 !important;
        padding-top: 1.6rem; }
      article.text div.article-img-large.series > :last-child {
        border-radius: 0 !important;
        padding-bottom: 1.6rem; }

    }

footer {
  padding: 8rem 0;
  text-align: center;
  color: #ccc; }

section.bottom-banner {
  width: 100%;
}

section.bottom-banner img.banner {
  width:100%;
  max-width:100%;
  margin-bottom: -10px; }
