body {
  font-family: merriweather, georgia, serif;
  line-height: 1.8;
  background: #161310;
  margin: 0;
  padding: 0;
  font-size: 20px; }

.trim {
  width: 100%;
  background: #dab05f;
  color: #161310;
  height: 0.4rem;
  text-align: center;
  // position: -webkit-sticky;
  // position: sticky;
  top: 0;
  text-transform: uppercase;
 }

  .trim span {
    font-size: 14px;
    font-family: helvetica;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #161310;
    text-decoration: none;
    margin-right: 20px; }


section.content {
  }

article {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 4rem 1rem 0 1rem;
  width: 38rem;
  max-width: 90%;
  color: #aaa;
  font-size: 20px;
  font-weight: 400;}

  @media screen and (max-width: 42em) {
    article {
      article: 17px;
      padding: 1rem 0;
    }
  }

  @media screen and (min-width: 100em) {
    article {
      font-size: 24px;
      width: 64rem;
    }
  }

  article a {
    color: #dab05f;
    text-decoration: none;
  }

  p.dropcap::first-letter {
    font-size: 48px;
    float: left;
    line-height: 1;
    margin-right: 0.3em;
    margin-top: 0.3em;
    font-weight: bold; }

  article hgroup {
    text-align: center;
    margin-bottom: 3rem; }

  article h1 {
    margin-bottom: 0;
    color: #fafafa;
    font-size: 48px;
    line-height: 4rem;
  }

  article h2 {
    font-style: italic;
    font-weight: 100;
    color: #88888a;
    margin: 1.8rem auto 0.5rem;
    font-size: 28px; }

  @media screen and (max-width: 42em) {

    article h2 {
      font-size: 22px;
    }

  }

  article h3 {
    color: #dab05f;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0;
    margin: 0;
    font-family: helvetica, arial, sans-serif;
    font-weight: 100;
    font-size: 14px; }

  @media screen and (max-width: 42em) {

    article h3 {
      font-size: 13px;
    }

  }

  article h4 {
    font-weight: 700;
    color: #333;
    font-size: 26px;
    margin-bottom: 0; }

  article h5 {
    letter-spacing: 0.1rem;
    font-size: 12px;
    font-family: helvetica, arial, sans-serif; }

  article span.highlight {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 3px;
    background: #FDECA4; }

  #subnav {
    font-size: 18px;
    color: #ccc; }

    #subnav a {
      color: #aaa; }

  article div.article-img-large img {
    max-width: 100%;
    border-radius: 20px; }

  article div.article-img-large {
    margin: 0 -25%;
    padding: 1.6rem 0;
    text-align: center;
    box-shadow: 0 0 200px rgba(22,19,16,0.9) inset;  }

    @media screen and (max-width: 42em) {

      article div.article-img-large {
        margin-left: -6%;
        margin-right: -6%;
        padding: 1.6rem 0; }

      article div.article-img-large img {
        border-radius: initial !important; }

    }

  article div.article-img-large.long {
    margin: 0 -10%; }

    @media screen and (max-width: 42em) {

      article div.article-img-large.long {
        margin: 0 -6%; }

    }

  article div.article-img-large.series img {
    border-radius: initial;
    padding-bottom: 0;
    margin-bottom: -8px; }

  article div.article-img-large.series > :first-child {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important; }

  article div.article-img-large.series > :last-child {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important; }

    @media screen and (max-width: 42em) {

      article div.article-img-large.series {
        margin: 0 -6%;
        padding: 0;
      }

      article div.article-img-large.series > :first-child {
        border-radius: 0 !important;
        padding-top: 1.6rem; }
      article div.article-img-large.series > :last-child {
        border-radius: 0 !important;
        padding-bottom: 1.6rem; }

    }

footer {
  padding: 2rem 0 8rem;
  color: rgb(218, 176, 95);
  text-align: center;
  font-size: 2rem; }

section.bottom-banner {
  width: 100%; }

section.bottom-banner img.banner {
  width:100%;
  max-width:100%;
  margin-bottom: -10px; }

.glow {
  box-shadow: 0 0 200px rgba(22,19,16,0.9);
  -webkit-box
}

div.vignette {
	-webkit-box-shadow: inset 0px 0px 85px rgba(0,0,0,0.4);
	-moz-box-shadow:    inset 0px 0px 85px rgba(0,0,0,0.4);
	box-shadow:         inset 0px 0px 85px rgba(0,0,0,0.4);

	line-height: 0;         /* ensure no space between bottom */

	display: inline-block;  /* don't go wider than image */
}
div.vignette img {
	position: relative;
	z-index: -1;            /* position beneath */
}
